<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.joeshuff.dddungeongenerator">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/DarkAppTheme">
        <activity
                android:name=".screens.settings.SettingsActivity"
                android:theme="@style/DarkAppTheme">
        </activity>
        <activity android:name=".screens.create.NewDungeonActivity">
        </activity>
        <activity android:name=".screens.create.GeneratingActivity">
        </activity>
        <activity android:name=".screens.viewdungeon.ResultsActivity">
        </activity>
        <activity
                android:name=".screens.home.HomeActivity"
                android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".screens.viewmonster.MonsterActivity">
        </activity>
        <activity android:name=".pdfviewing.PDFActivity"/>
        <activity android:name=".pdfviewing.PaperActivity"/>
        <activity android:name=".pdfviewing.SRDActivity"/>
    </application>

</manifest>